<div style='width:100%;padding:50px;'>
	<h1>修改密码</h1>
	<form>
		<div class='form-group'>
			<label for='password'>请输入新密码</label>
			<input type='password' class='form-control' name='password'>
			<span class="info text-danger hide password"></span>
		</div>
		<div class='form-group'>
			<label for='repassword'>请重复输入新密码</label>
			<input type='password' class='form-control' name='repassword'>
			<span class="info text-danger hide repassword"></span>
		</div>
		<div style='padding-top:10px;'>
			<input type='button' value='确认' class='btn btn-lg btn-success pull-right' onclick='changePassword();'>
		</div>
	</form>
	<div>
		<span class='change-success hide'>密码修改成功</span>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('input').on('focus',function(){
			$('.info.password').addClass('hide');
			$('.info.repassword').addClass('hide');
		})
	})

	function changePassword(){
		password = $('input[name="password"]').val();
		repassword = $('input[name="repassword"]').val();
		csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
		//check password vaild
		var pattern = /^[A-Za-z0-9]+$/g;
		if( !pattern.test(password)){
			$('.password.text-danger').html("密码只能是英文字母和数字");
			$('.password.text-danger').removeClass('hide');
			return false;
		}
		if(password != repassword){
			$('.repassword.text-danger').html("两次输入密码不一致");
			$('.repassword.text-danger').removeClass('hide');
			return false;
		}
		
		$.post('/changePassword',{
			password:password,
			csrfmiddlewaretoken:csrf_token,
		},function(data){
			if(data.message == 'OK'){
				$('.change-success').removeClass('hide');
				return
			}
			$('.change-success').html("出错了");
			$('.change-success').removeClass('hide');
		})
	}
</script>