<h2 style='margin:10px 0px 30px 5px;'>设置共享文件夹 <small><a href='/' class='backHome'>查看结果</a></a></small></h2>
<div style='margin:10px;'>
	<div style='background-color:rgb(30,180,40);height:40px;padding:10px;color:white;'>已添加文件夹</div>
	<div style='padding:10px;' class='table-responsive'>
		<table class='table table-hover'>
			<tbody class='added-folders'>
			</tbody>
		</table>
	</div>
</div>
<div class='choose-folder' style='margin:10px 10px 100px 10px;'>
	<div class='file-nav' style='background-color:rgb(30,180,40);height:40px;width:100%;overflow:hidden;'></div>
	<div class='table-responsive' style='padding:10px;'>
		<table class='table table-hover'>
			<thead>
				<tr>
					<th><a href='#' onclick='sort("filename");return false;'>文件名</a></th>
					<th><a href='#' onclick='sort("time");return false;'>创建时间</a></th>
					<th><a href='#' onclick='sort("size");return false;'>文件大小</a></th>
				</tr>
			</thead>
			<tbody class='content'>
			</tbody>
		</table>
	</div>
	<div class='loading hide' style='width:100%;text-align:center;'><i class='fa fa-spinner fa-spin' style='font-size:2in;'></i></div>
</div>
<script>
	//add click line response
	$(document).on('click','.content>tr>td',function(){
		var link = $(this).parent().find('td>a')[0]
		var name = $(link).data('name');
		if(typeof name != 'undefined'){
			openFolder(name)
		}
		return false;
	})

	var addedFolders = [
		{for file in addedFolders}
		{
			name:'{file.name}',
			url:'{file.url}',
			isFile:{file.isFile},
			ctime:{file.ctime},
			mtime:{file.mtime},
			size:{file.size},
			path:'{file.path}',
		},
		{/for}
	];
	var data = [
		{for file in fileList}
		{
			name:'{file.name}',
			url:'{file.url}',
			isFile:{file.isFile},
			ctime:{file.ctime},
			mtime:{file.mtime},
			size:{file.size},
			path:'{file.path}',
		},
		{/for}
	];
	
	var pathList = [
	{for path in pathList}
		'{path}',
	{/for}
	]
	function openFolder(filename){
		History.pushState({filename:filename,pathList:pathList}, 'Winfly','?name='+filename);
	}

	History.Adapter.bind(window,'popstate',function(){ // Note: We are using statechange instead of popstate
        var State = History.getState(); // Note: We are using History.getState() instead of event.state
		//make up the path
		if(State.title != ""){
			var filename = State.data.filename;
			pathList = State.data.pathList;
		}else{
			var filename = '/';
			pathList = [];
		}
		$('.content').html('');
		$('.loading').removeClass('hide');
		$.post('/setShareFolder',{
			csrfmiddlewaretoken:csrf,
			filename:filename,
			pathList:JSON.stringify(pathList),
			action:'openFolder',
		},function(serverData){
			$('.loading').addClass('hide');
			data = serverData.fileList;
			pathList = serverData.pathList;
			updateView();
		})
	});
	function updateView(){
		var template = "\
		{@if file.isFile == 'True' || file.isFile == true}\
		<tr><td><a style='display:block;color:black;font-size:14px;text-decoration:none;padding:10px;' href='#' onclick='return false;'><i style='padding:5px;' class='fa fa-file-text-o'></i>$\{file.name}</a></td><td><span style='padding:5px;'>$\{file.ctime}</span></td><td><span style='padding:5px;'>$\{file.size}</span></td></tr>\
		{@else}\
		<tr><td><a style='display:block;color:black;font-size:14px;text-decoration:none;padding:10px;' href='#' data-name='$\{file.name}\' onclick='return false;'><i style='padding:5px;' class='fa fa-folder-o'></i>$\{file.name}</a></td><td><span>$\{file.ctime}</span></td><td><span>$\{file.size}</span><a href='#' onclick='add();return false;'></a></td></tr>\
		{@/if}\
			";
		//clear previous data
		$('.content').html('');
		$('.file-nav').html('');
		for(var file in data){
			file = data[file];
			fileDict = {
				name:file.name,
				url:file.url,
				isFile:file.isFile,
				ctime:getTime(file.ctime),
				mtime:getTime(file.mtime),
				size:getSize(file.size),
			};
			$('.content').append(juicer(template,{file:fileDict,}));
		}
		var template = "\
			<a href='#' style='color:white;padding:10px;float:left;height:40px;text-decoration:none;' onclick='changePath(\"$\{count}\")'><i class='fa fa-angle-right' style='padding-right:5px;'></i>$\{path}</a>\
		 "
		 $('.file-nav').append("<a href='#' onclick='changePath(\"/\")' style='color:white;padding:10px;float:left;height:40px;text-decoration:none;'><i class='fa fa-home'></i></a>");
		 $('.file-nav').append("<a href='#' onclick='add()' style='float:right;padding:10px;font-size:16px;color:white;text-decoration:none;'>添加</a>");
		 for(i=0;i<pathList.length;i++){
			path = pathList[i];
			$('.file-nav').append(juicer(template,{path:path,count:i,}));
		 }
		 
		 //update added files views
		 var template = "\
		{@if file.isFile == 'True' || file.isFile == true}\
		<tr><td><a style='display:block;color:black;font-size:14px;text-decoration:none;padding:10px;' href='#' ><i style='padding:5px;' class='fa fa-file-text-o'></i>$\{file.name}</a></td><td><span style='padding:5px;'>$\{file.ctime}</span></td><td><span style='padding:5px;'>$\{file.size}</span></td></tr>\
		{@else}\
		<tr><td><a style='display:block;color:black;font-size:14px;text-decoration:none;padding:10px;' href='#' onclick='return false;'><i style='padding:5px;' class='fa fa-folder-o'></i>$\{file.path}</a></td><td><span>$\{file.ctime}</span></td><td><span>$\{file.size}</span><a href='#' onclick='add();return false;'></a></td><td><a href='#' onclick='del(\"$\{file.path}\");return false;'>删除</a></td></tr>\
		{@/if}\
			";
		$('.added-folders').html('');
		for(var file in addedFolders){
			file = addedFolders[file];
			var fileDict = {
				name:file.name,
				time:file.ctime,
				url:file.url,
				isFile:file.isFile,
				ctime:getTime(file.ctime),
				mtime:getTime(file.mtime),
				size:getSize(file.size),
				path:file.path,
			};
			$('.added-folders').append(juicer(template,{file:fileDict,}));
		}
	}
	$(document).ready(function(){
		updateView();
	})

	function del(path){
		csrf = $('input[name="csrfmiddlewaretoken"]').val();
		$.post('/setShareFolder',{
			action:'del',
			path:path,
			pathList:JSON.stringify(pathList),
			csrfmiddlewaretoken:csrf,
		},function(data){
			if(data.message == 'OK'){
				addedFolders = data.addedFolders;
				updateView();
				return;
			}
			if(data.message == 'Error'){
				if(data.reason == 'notFound'){
					myNotify('错误','未找到此文件夹');
					return;
				}
			}
		})
	}
	
	function changePath(count){
		if(count == '/'){
			openFolder('/');
			return;
		}
		var newList = [];
		for(var i = 0;i<count;i++){
			newList[i] = pathList[i];
		}
		filename = pathList[count]
		pathList = newList;
		openFolder(filename);
	}
	
	function getSize(size){
		temp = (size/1024).toFixed(2);
		if(temp<1){
			return size+'B';
		}
		if(1<=temp && temp<1024){
			return temp+'KB';
		}
		tempM = (temp/1024).toFixed(2);
		if(tempM<1024){
			return tempM+'MB';
		}
		tempG = (tempM/1024).toFixed(2);
		return tempG+'GB';
	}

	function getTime(timeStramp){
		var time = new Date();
		time.setTime(timeStramp);
		var year = time.getFullYear();
		var month = time.getMonth();
		var date = time.getDate();
		var hour = time.getHours();
		var min = time.getMinutes();
		var sec = time.getSeconds();
		var time = year+'/'+ month + '/' + date + ' ' +hour+':'+min+':'+sec ;
		return time;
	}
	
	
	var timeOrderFlag = 0;
	var nameOrderFlag = 0;
	var sizeOrderFlag = 0;
	function sort(type){
		if(type == 'filename'){
			sort.byName = function(a,b){
					if(nameOrderFlag == 1){
						return a.name.localeCompare(b.name);
					}else{
						return b.name.localeCompare(a.name);
					}
			}
			data.sort(sort.byName);
			if(nameOrderFlag == 1){
				nameOrderFlag = 0;
			}else{
				nameOrderFlag = 1;
			}
			updateView();
		}
		if(type == 'time'){
			sort.byTime = function(a,b){
				if(timeOrderFlag == 0){
					return a.ctime - b.ctime;
				}else{
					return b.ctime - a.ctime;
				}
			}
			data.sort(sort.byTime);
			if(timeOrderFlag == 0){
				timeOrderFlag = 1;
			}else{
				timeOrderFlag = 0;
			}
			updateView();
		}
		if(type == 'size'){
			sort.bySize = function(a,b){
				if(sizeOrderFlag == 0){
					return a.size - b.size;
				}else{
					return b.size - a.size;
				}
			}
			data.sort(sort.bySize);
			if(sizeOrderFlag == 0){
				sizeOrderFlag = 1;
			}else{
				sizeOrderFlag = 0;
			}
			updateView();
		}
	}
	
	function add(){
		csrf = $('input[name="csrfmiddlewaretoken"]').val();
		$('.loading').removeClass('hide');
		$.post('/setShareFolder',{
			pathList:JSON.stringify(pathList),
			csrfmiddlewaretoken:csrf,
			action:'add',
		},function(data){
			$('.loading').addClass('hide');
			if(data.message == 'OK'){
				addedFolders = data.addedFolders;
				updateView();
			}
			if(data.message == 'Error'){
				if(data.reason == 'repeated'){
					myNotify('错误','文件已经添加');
				}
			}
		})
	}
	
</script>
