<link rel='stylesheet' href='../public/css/font-awesome-4.0.3/css/font-awesome.css'>

<style>
	div.sy-btn {
		background-color:rgb(130,130,130);
		color:white;
		text-align:center;
		width:140px;
		padding:10px;
		margin-bottom:5px;
	}
	
	div.sy-btn:hover {
		background-color:rgb(30,230,30);
	}
	div.terminal {
		margin-left:15px;
		width:250px;
		height:280px;
		background-color:white;
		color:gray;
		float:left;
		padding:10px;
	}
	
	div.btn-group {
		padding:0px 10px 0px 10px;
		float:left;
	}
	div.divide {
		background-color:white;
		color:white;
		text-align:center;
		width:140px;
		padding:10px;
		margin-bottom:5px;
	}
	
	div.win {
		width:130px;
		height:160px;
		position:relative;
		border: 1px solid black;
	}
	
	div.user-info {
		width:300px;
		height:80px;
	}
	div.logo {
		width:64px;
		height:64px;
		position:absolute;
		top:10px;
		left:10px;
		background:url('../public/img/logo.jpg');
		background-size:64px 64px;
		background-repeat:no-repeat;
		border:white 1px solid;
	}
	.showborder {
		border:1px red solid;
	}
	
	div.user-status {
		position:absolute;
		right:5px;
		top:5px;
		height:64px;
		width:200px;
	}
	
	i.fa{
		padding:0px 5px 0px 0px;
	}
	
	body{
		font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	}

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	}

	.username {
		padding:5px;
		color:white;
	}
	.user-addr{
		padding:5px;
		color:white;
	}
	.operations {
		padding:5px;
		text-align:center;
	}
	.operations>i.fa{
		padding:5px;
		font-size:40px;
		color:black;
		width:40px;
		height:40px;
	}
	.operations>i.fa:hover{
		background-color:rgb(15,160,170);
	}
	
	.footer{
		position:absolute;
		bottom:5px;
		color:gray;
		font-size:14px;
		text-align:center;
		width:100%;
	}
	.title{
		text-align:right;
		color:white;
		background-color:black;
		height:30px;
	}
	.title>i{
		padding:5px;
		font-size:18px;
	}
	.title>i:hover{
		background-color:rgb(15,160,170);
	}
	.title>.name{
		float:left;
		color:white;
		padding:7px;
		font-size:14px;
	}
</style>
<div class='win'>
	<div class='title'>
		<div class='name'>pCloud</div>
		<i class='fa fa-times' title='删除管理员'></i>
		<i class='fa fa-minus' title='后台运行'></i>
	</div>
	<div class='operations'>
		<i class='fa fa-home' title='在浏览器打开pCloud'></i>
		<i class='fa fa-question' title="帮助"></i>
		<i class='fa fa-user' title='重置管理员密码'></i>
		<i class='fa fa-times-circle' title='删除管理员'></i>
	</div>
	<div class='footer'>
		pCloud 1.0.0b
	</div>
</div>
	
	<i class='fa fa-minus fa-5x' style='height:80px;width:80px;margin:100px;' title='在浏览器打开pCloud'></i>