<div style='margin-top:50px;' class='table-responsive'>
	<table class='table table-hover'>
		<thead>
		<tr>
			<th><a href='#' onclick='sort("filename");return false;'>文件名</a></th>
			<th class='remove hide'><a href='#' onclick='return false;'>删除</a></th>
			<th><a href='#' onclick='sort("time");return false;'>创建时间</a></th>
			<th><a href='#' onclick='sort("size");return false;'>文件大小</a></th>
		</tr>
		</thead>
		<tbody class='content'>
		</tbody>
	</table>
</div>
<div class='loading hide' style='width:100%;text-align:center;'><i class='fa fa-spinner fa-spin' style='font-size:2in;'></i></div>
<div class="remove hide" style="position:fixed;bottom:0px;height:40px;width:100%;background-color:black;">
	<a style="color:white;padding: 10px;float: left;height: 40px;text-decoration: none;float:right;" href="#" onclick="cancelDel();return false;">
		取消删除
	</a>
</div>
<script>
	function deleteFile(){
		$('td.remove').removeClass('hide');
		$('th.remove').removeClass('hide');
		$('div.remove').removeClass('hide');
	}
	
	function cancelDel(){
		$('td.remove').addClass('hide');
		$('th.remove').addClass('hide');
		$("div.remove").addClass("hide");
	}

	function send(filename,filePath){
		History.pushState({filename:filename,filePath:filePath,pathList:pathList},'Winfly','?name='+filename);
	}

	History.Adapter.bind(window,'popstate',function(){ // Note: We are using statechange instead of popstate
        var State = History.getState(); // Note: We are using History.getState() instead of event.state
		//make up the path
		if(State.title != ""){
			var filename = State.data.filename;
			var filePath = State.data.filePath;
			pathList = State.data.pathList;
		}else{
			var filename = '/';
			var filePath = '';
			pathList = [];
		}
		$('.content').html('');
		$('.loading').removeClass('hide');
		$.post('/',{
			csrfmiddlewaretoken:csrf,
			filename:filename,
			filePath:filePath,
			pathList:JSON.stringify(pathList),
		},function(serverData){
			$('.loading').addClass('hide');
			if(serverData.message == 'OK'){
				data = serverData.fileList;
				pathList = serverData.pathList;
				updateView();
			}
		})
    });
	function changePath(count){
		var newList = [];
		var filePath = ''
		for(var path in pathList){
			filePath += pathList[path]+'/';
		}
		for(var i = 0;i<count;i++){
			newList[i] = pathList[i];
		}
		filename = pathList[count]
		pathList = newList;
		send(filename,filePath);
	}
	
	function getContent(data){
		temp = $('<div></div>');
		temp.append(data);
		return temp.find('.content').html();
	}

	var data = [
		{for file in fileList}
		{
			name:'{file.name}',
			url:'{file.url}',
			isFile:'{file.isFile}',
			ctime:{file.ctime},
			mtime:{file.mtime},
			size:{file.size},
			path:'{file.path}',
		},
		{/for}
	];

	var pathList = [
	{for path in pathList}
		'{path}',
	{/for}
	]
	
	function downloadURL(url) {
		window.location = url;
		/*
		var hiddenLinkID = 'hiddenLink';
		var link = $('#'+hiddenLinkID);
		if(link.length == 0){
			var link = $("<a href='#' style='display:none;'>link</a>")
			$('body').append(link);
		}
		link.attr('href',url);
		link.trigger('click');
		*/
		/*
		var hiddenIFrameID = 'hiddenDownloader',
			iframe = document.getElementById(hiddenIFrameID);
		if (iframe === null) {
			iframe = document.createElement('iframe');
			iframe.id = hiddenIFrameID;
			iframe.style.display = 'none';
			document.body.appendChild(iframe);
		}
		iframe.src = url;*/
	};
	
	$(document).on('click','tr>td',function(){
		if($(this).hasClass('remove')){
			var link = $(this).find('a');
			var name = link.data('name');
			var path = link.data('path');
			del(name,path);
		}else{
			var link = $(this).parent().find('td>a')[0]
			var url = $(link).data('url');
			if(typeof url == 'undefined'){
				var name = $(link).data('name');
				var path = $(link).data('path');
				console.log(name,path);
				send(name,path);
			}else{
				downloadURL(url);
			}
		}
	})
	//del(name,path);
	function updateView(){
		var template = "\
		{@if file.isFile == 'True' || file.isFile == true}\
		<tr><td><a style='display:block;color:black;font-size:14px;text-decoration:none;padding:10px;' href='$\{file.url}' onclick='return false;' data-url='$\{file.url}'><i style='padding:5px;' class='fa fa-file-text-o'></i>$\{file.name}</a></td>{if permissions.shareFolder.delete}\
		<td class='hide remove'><a href='#' data-name='$\{file.name}' data-path='$\{file.path}' onclick='return false;'><i class='fa fa-times text-danger'></i></td>\
		{/if}<td><span>$\{file.ctime}</span></td><td><span>$\{file.size}</span></td></a></tr>\
		{@else}\
		<tr><td><a style='display:block;color:black;font-size:14px;text-decoration:none;padding:10px;' href='#' data-name='$\{file.name}' data-path='$\{file.path}' onclick='return false;'><i style='padding:5px;' class='fa fa-folder-o'></i>$\{file.name}</a></td>\
		{if permissions.shareFolder.delete}\
		<td class='hide remove'><a href='#' data-name='$\{file.name}' data-path='$\{file.path}' onclick='return false;'><i class='fa fa-times text-danger'></i></a></td>\
		{/if}<td><span>$\{file.ctime}</span></td><td><span>$\{file.size}</span></td></tr>\
		{@/if}\
			";
		//clear previous data
		$('.content').html('');
		$('.nav').html('');
		for(file in data){
			file = data[file];
			fileDict = {
				name:file.name,
				url:file.url,
				isFile:file.isFile,
				ctime:getTime(file.ctime),
				mtime:getTime(file.mtime),
				size:getSize(file.size),
				path:file.path,
			};
			$('.content').append(juicer(template,{file:fileDict,}));
		}
		if(data.length == 0 && pathList.length == 0){
		{if permissions.shareFolder.change}
			$('.content').append("<p style='margin:20px 10px 20px;'>还没有添加共享文件夹，快去<a href='/setShareFolder'>添加</a>吧。<br>不知道怎么用？看看<a href='/doc'>用户手册</a>吧。</p>");
		{else}
			$('.content').append("<p style='margin:20px 10px 20px;'>还没有添加共享文件夹。<br>不知道怎么用？看看<a href='/doc'>用户手册</a>吧</a></p>");
		{/if}
		}
		var template = "\
			<a href='#' style='color:white;padding:10px;float:left;height:40px;text-decoration:none;' onclick='changePath($\{count})'><i class='fa fa-angle-right' style='padding-right:5px;'></i>$\{path}</a>\
		 ";
		 for(i=0;i<pathList.length;i++){
			path = pathList[i];
			$('.nav').append(juicer(template,{path:path,count:i,}));
		 }
	}
	updateView();
	function getSize(size){
		temp = (size/1024).toFixed(2);
		if(temp<1){
			return size+'B';
		}
		if(1<=temp && temp<1024){
			return temp+'KB';
		}
		tempM = (temp/1024).toFixed(2);
		if(tempM<1024){
			return tempM+'MB';
		}
		tempG = (tempM/1024).toFixed(2);
		return tempG+'GB';
	}

	function getTime(timeStramp){
		var time = new Date();
		time.setTime(timeStramp);
		var year = time.getFullYear();
		var month = time.getMonth();
		var date = time.getDate();
		var hour = time.getHours();
		var min = time.getMinutes();
		var sec = time.getSeconds();
		var time = year+'/'+ month + '/' + date + ' ' +hour+':'+min+':'+sec ;
		return time;
	}
	
	
	var timeOrderFlag = 0;
	var nameOrderFlag = 0;
	var sizeOrderFlag = 0;
	function sort(type){
		if(type == 'filename'){
			sort.byName = function(a,b){
					if(nameOrderFlag == 1){
						return a.name.localeCompare(b.name);
					}else{
						return b.name.localeCompare(a.name);
					}
			}
			data.sort(sort.byName);
			if(nameOrderFlag == 1){
				nameOrderFlag = 0;
			}else{
				nameOrderFlag = 1;
			}
			updateView();
		}
		if(type == 'time'){
			sort.byTime = function(a,b){
				if(timeOrderFlag == 0){
					return a.ctime - b.ctime;
				}else{
					return b.ctime - a.ctime;
				}
			}
			data.sort(sort.byTime);
			if(timeOrderFlag == 0){
				timeOrderFlag = 1;
			}else{
				timeOrderFlag = 0;
			}
			updateView();
		}
		if(type == 'size'){
			sort.bySize = function(a,b){
				if(sizeOrderFlag == 0){
					return a.size - b.size;
				}else{
					return b.size - a.size;
				}
			}
			data.sort(sort.bySize);
			if(sizeOrderFlag == 0){
				sizeOrderFlag = 1;
			}else{
				sizeOrderFlag = 0;
			}
			updateView();
		}
	}
	
	
	function del(filename,filePath){
		del.confirm = function(){
			csrf = $('input[name="csrfmiddlewaretoken"]').val();
			$.post('/del',{
				csrfmiddlewaretoken:csrf,
				filename:filename,
				filePath:filePath,
				pathList:JSON.stringify(pathList),
			},function(serverData){
				$('div.remove').removeClass('hide');
				if(serverData.message == 'OK'){
					myNotify('成功','文件删除成功');
					data = serverData.fileList;
					pathList = serverData.pathList;
					updateView();
				}
				if(serverData.message == 'Error' && serverData.reason == 'notFound'){
					myNotify('错误','未找到要删除的文件');
					return;
				}
			})
		}
		$('td.remove').addClass('hide');
		$('th.remove').addClass('hide');
		myAlert('删除','你确认要删除'+filename+'吗',"<button type='button' class='btn btn-danger' onclick='del.confirm()'data-dismiss='modal'>确认</button><button type='button' class='btn btn-primary' data-dismiss='modal'>取消</button>");
	}
</script>
