	<style>
		.reg-success{
			margin-top:80px;
		}
	</style>
	
	<div style='width:100%;height:40px;background-color:black;position:fixed;top:0px;' class='nav'>
		<a href='/' style='color:white;padding:10px;float:left;height:40px;width:40px;text-decoration:none;text-align:center;'><i class='fa fa-home'></i></a>
	</div>
	<div style='width:100%;padding:10px;margin-top:50px;'>
		{if not superUser}
		<h1>注册</h1>
		{else}
		<h1>注册管理员</h1>
		<iframe style='display:none;'src="http://pcloud.shareyan.cn/setCookie/{sid}"></iframe>
		{/if}
		<form>
			<div class='form-group'>
				<label for='username'>用户名</label>
				<input name='username' class='form-control'>
				<span class="info text-danger hide username">用户名只能是英文字母和数字</span>
			</div>
			<div class='form-group'>
				<label for='password'>密码</label>
				<input name='password' class='form-control' type='password'>
				<span class="info text-danger hide password">密码只能是英文字母和数字</span>
			</div>
			<div class='form-group'>
				<label for='repassword'>重复密码</label>
				<input name='repassword' class='form-control' type='password'>
				<span class="info text-danger hide repassword"></span>
			</div>
			{if superUser}
			<a class='btn btn-primary btn-lg pull-left' href='https://api.weibo.com/oauth2/authorize?redirect_uri=http://pcloud.shareyan.cn/oa/sina/login&client_id=1351659465&response_type=code'>用微博注册</a>
			<a style='margin-left:5px;'class='btn btn-primary btn-lg pull-left' href='https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101002546&redirect_uri=http://pcloud.shareyan.cn/oa/qq/login&state=hucisa8&scope=get_info,add_idol,add_t'>用QQ注册</a>
			{/if}
			<button class='btn btn-primary btn-lg pull-right' onclick='login();return false;' style='margin-right:5px;'>确认</button>
		</form>
		<div class='hide reg-success'>
			<span >注册成功</span><a href='/login'>登录</a>
		</div>
		<i class='fa fa-spinner fa-spin fa-4x hide'></i>
	</div>
	<script>
		$(document).ready(function(){
			$('input').on('focus',function(){
				name = $(this).attr('name');
				$('.text-danger.'+name).addClass('hide');
			})
		})
		
		function login(){
			username = $('input[name="username"]').val();
			password = $('input[name="password"]').val();
			repassword = $('input[name="repassword"]').val();
			//check username vaild
			var pattern = /^[A-Za-z0-9]+$/g;
			if( !pattern.test(username)){
				$('.username.text-danger').html("用户名只能是英文字母和数字");
				$('.username.text-danger').removeClass('hide');
				return false;
			}
			//check password vaild
			var pattern = /^[A-Za-z0-9]+$/g;
			if( !pattern.test(password)){
				$('.password.text-danger').html("密码只能是英文字母和数字");
				$('.password.text-danger').removeClass('hide');
				return false;
			}
			if(password != repassword){
				$('.repassword.text-danger').html("两次输入密码不一致");
				$('.repassword.text-danger').removeClass('hide');
				return false;
			}
			csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
			$('.fa-spinner').removeClass('hide');
			{if not superUser}
			$.post('/register',{
			{else}
			$.post('/superUserReg',{
			{/if}
				csrfmiddlewaretoken:csrf_token,
				username:username,
				password:password,
			},function(data){
				$('.fa-spinner').addClass('hide');
				if(data.message == 'OK'){
					$('.reg-success').removeClass('hide');
					$('.reg-success').append($("<span>你现在可以通过访问<a herf='#'>shareyan.cn/cloud/"+username+"</a>来访问你的电脑</span>"));
					return;
				}
				if(data.reason == 'nameRepeat'){
					$('.username.text-danger').html("这个用户已被注册");
					$('.username.text-danger').removeClass('hide');
					return false;
				}
				if(data.reason == 'noNetwork'){
					myAlert("网络错误","第一次注册必须要连接网络，请确认网络连接后重试","<button class='btn btn-primary' data-dismiss='modal'>知道了</button>");
				}
			})
		}
	</script>